<mat-toolbar color="accent">
    <h1>Messenger Config</h1>
    <div style="flex: auto;"></div>
    <ul>
        <li><button (click)="setMessengerMode('fullscreen')">Mode: Fullscreen</button></li>
        <li><button (click)="setMessengerMode('boxed')">Mode: Boxed</button></li>
    </ul>
</mat-toolbar>

<mark6-messenger [ngClass]="messengerMode === 'fullscreen' ? 'fullscreen' : 'boxed'">

    <mark6-messenger-header>
        asd
    </mark6-messenger-header>

    <mark6-messenger-content>
        <mark6-messenger-messages-virtual-scroller
            [messages]="messages"
            [type]="'group'"
            [avatarMe]="true"
            [avatarOthers]="true">
        </mark6-messenger-messages-virtual-scroller>
    </mark6-messenger-content>

    <mark6-messenger-footer>
        <mark6-messenger-textarea>
            <textarea placeholder="Type message..." Mark6MessengerAutoSize></textarea>
        </mark6-messenger-textarea>
        <mark6-messenger-actions position="right">
            <button mat-icon-button color="primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send">
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
            </button>
        </mark6-messenger-actions>
    </mark6-messenger-footer>

</mark6-messenger>
