.mark6-messenger-message-group {
    --message-group-padding: 12px;

    padding: calc(var(--message-group-padding) * var(--mark6-messenger-spacing-multiplier));
    display: flex;

    &.mark6-message-direction-left {
        margin-right: calc(5% * var(--mark6-messenger-spacing-multiplier));
        justify-content: flex-start;
        mark6-messenger-avatar {
            margin-right: calc(8px * var(--mark6-messenger-spacing-multiplier));
            order: 1;
        }
        .mark6-messenger-messages {
            order: 2;
            mark6-messenger-message {
                margin-right: auto;
                .mark6-messenger-message-header{
                    text-align: left;
                }
            }
        }
    }

    &.mark6-message-direction-right {
        margin-left: calc(5% * var(--mark6-messenger-spacing-multiplier));
        justify-content: flex-end;
        mark6-messenger-avatar {
            margin-left: calc(8px * var(--mark6-messenger-spacing-multiplier));
            order: 2;
        }
        .mark6-messenger-messages {
            order: 1;
            mark6-messenger-message {
                margin-left: auto;
                .mark6-messenger-message-header{
                    text-align: right;
                }
            }
        }
    }

    mark6-messenger-avatar {

    }

    .mark6-messenger-messages {
        // width: calc(100% - var(--mark6-messenger-avatar-size));
        max-width: 100%;
        display: flex;
        flex-direction: column;

        mark6-messenger-message {
            // max-width: calc((100% - (var(--message-group-padding) * 2)) * var(--mark6-messenger-spacing-multiplier));
            margin: calc(1px * var(--mark6-messenger-spacing-multiplier)) 0;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

}
