.mark6-messenger-message {
    width: fit-content;
    padding: calc(8px * var(--mark6-messenger-spacing-multiplier)) calc(12px * var(--mark6-messenger-spacing-multiplier));
    display: block;
    border-radius: 4px;
    color: var(--mark6-messenger-message-contrast);
    background-color: var(--mark6-messenger-message-background);

    &-header {

        &-user-name {
            font-weight: 600;
        }

        &-created-at {
            opacity: .6;
            font-size: 0.625em;
        }
    }

}
