<div class="mark6-messenger-message-header" *ngIf="userName">
    <span class="mark6-messenger-message-header-user-name">{{userName}}</span>
    <span>&nbsp;</span>
    <span class="mark6-messenger-message-header-created-at" *ngIf="createdAt">{{createdAt | dateFormat}}</span>
</div>
<ng-content select="mark6-messenger-reply-preview"></ng-content>

<!-- <mark6-messenger-reply-preview *ngIf="reply" [text]="reply.text" [userName]="reply.user_name" [color]="reply.color">
    </mark6-messenger-reply-preview> -->
<span *ngIf="text">{{text}}</span>