<button class="toggle-demo-editor" mat-icon-button (click)="demoEditorState = !demoEditorState">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
         class="feather feather-sliders">
        <line x1="4" y1="21" x2="4" y2="14"></line>
        <line x1="4" y1="10" x2="4" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="12"></line>
        <line x1="12" y1="8" x2="12" y2="3"></line>
        <line x1="20" y1="21" x2="20" y2="16"></line>
        <line x1="20" y1="12" x2="20" y2="3"></line>
        <line x1="1" y1="14" x2="7" y2="14"></line>
        <line x1="9" y1="8" x2="15" y2="8"></line>
        <line x1="17" y1="16" x2="23" y2="16"></line></svg>
</button>

<div class="demo-editor" [ngClass]="{open: demoEditorState}">
    <h2>Demo Editor</h2>
    <mat-list>
        <mat-selection-list (selectionChange)="selectionChange($event.option)">
            <mat-list-option>Boxed</mat-list-option>
        </mat-selection-list>

        <mat-divider></mat-divider>

        <div mat-subheader>Font Size</div>
        <mat-list-item>
            <mat-slider min="16" max="32" step="1" [thumbLabel]="true" [(ngModel)]="defaultFontSize"></mat-slider>
        </mat-list-item>

        <mat-divider></mat-divider>

        <div mat-subheader>Elements Size</div>
        <mat-list-item>
            <mat-slider min="1" max="3" step="0.1" [thumbLabel]="true" [(ngModel)]="defaultElementSize"></mat-slider>
        </mat-list-item>

        <mat-divider></mat-divider>

        <div mat-subheader>Avatar Size</div>
        <mat-list-item>
            <mat-slider min="36" max="256" step="1" [thumbLabel]="true" [(ngModel)]="defaultAvatarSize"></mat-slider>
        </mat-list-item>
    </mat-list>
</div>

<mark6-messenger [style.--mark6-messenger-spacing-multiplier]="defaultElementSize"
                 [style.--mark6-messenger-base-font-size.px]="defaultFontSize"
                 [style.--mark6-messenger-avatar-size.px]="defaultAvatarSize"
                 [ngClass]="messengerBoxed ? 'boxed' : 'fullscreen'">

    <mark6-messenger-header>Optional Header</mark6-messenger-header>

    <!-- Scrollable Area - or instead of <mark6-messenger-content> they can use <virtual-scroll>-->
    <mark6-messenger-content>

        <!-- use ng-container instead of <mark6-messenger-block> -->
        <ng-container *ngFor="let block of messageBlock">

            <mark6-messenger-block-date [date]="block.date"></mark6-messenger-block-date>

            <mark6-messenger-message-group *ngFor="let group of block.messageGroup"
                                           [ngClass]="group.user_id === currentUserId ? 'mark6-message-come-from-me' : 'mark6-message-come-from-others'"
                                           [direction]="group.user_id === currentUserId ? 'right' : 'left'">

                <mark6-messenger-avatar>
                    <mark6-image [round]="true" [preview]="group.user_avatar.preview" [src]="group.user_avatar.src"></mark6-image>
                    <!-- TODO Sven - Allow using regular <img> tags.
                    <img src="" alt="">
                    -->
                </mark6-messenger-avatar>

                <mark6-messenger-message *ngFor="let message of group.messages" [message]="message"></mark6-messenger-message>

            </mark6-messenger-message-group>

        </ng-container>

    </mark6-messenger-content>

    <mark6-messenger-footer>

        <!--<mark6-messenger-actions [position]="'left'">
            <button mat-icon-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-send">
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
            </button>
        </mark6-messenger-actions>-->

        <mark6-messenger-textarea>
            <mark6-messenger-actions [position]="'left'">
                <button mat-icon-button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-smile">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                        <line x1="9" y1="9" x2="9.01" y2="9"></line>
                        <line x1="15" y1="9" x2="15.01" y2="9"></line>
                    </svg>
                </button>
            </mark6-messenger-actions>

            <textarea [(ngModel)]="textareaValue" placeholder="Message" Mark6MessengerAutoSize></textarea>

            <mark6-messenger-actions [position]="'right'">
                <button mat-icon-button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-paperclip">
                        <path d="M21.44 11.05l-9.19 9.19a6 6 0 0 1-8.49-8.49l9.19-9.19a4 4 0 0 1 5.66 5.66l-9.2 9.19a2 2 0 0 1-2.83-2.83l8.49-8.48"></path>
                    </svg>
                </button>
            </mark6-messenger-actions>
        </mark6-messenger-textarea>

        <mark6-messenger-actions [position]="'right'" [ngClass]="{visible: textareaValue.length !== 0}">
            <button mat-icon-button>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-send">
                    <line x1="22" y1="2" x2="11" y2="13"></line>
                    <polygon points="22 2 15 22 11 13 2 9 22 2"></polygon>
                </svg>
            </button>
        </mark6-messenger-actions>

    </mark6-messenger-footer>

</mark6-messenger>

<!-- TODO ALEX
    dateFormatOptions = {
        days: ['today', 'yesterday', 'day before yesterday'],
        format: 'de'
    };
-->
