<mat-toolbar color="accent">
    <h1>Messenger Config</h1>
    <div style="flex: auto;"></div>
    <ul>
        <li><button (click)="setMessengerMode('fullscreen')">Mode: Fullscreen</button></li>
        <li><button (click)="setMessengerMode('boxed')">Mode: Boxed</button></li>
    </ul>
</mat-toolbar>

<!-- TODO ALEX THIS IS OUR NEW STRUCTURE
ALL COMPONENTS ARE JUST UI COMPONENTS, JUST mark6-messenger-message-group CONTAINS LOGICS
-->

<!-- <div *ngFor="let group of messageGroups"><pre>{{group|json}}</pre></div> -->

<!--<ng-container *ngFor="let group of messageGroup">
    <div>this will be a mark6 messenger timestamp {{group.date}}</div>
    <ng-container *ngFor="let msg of group.messageGroups">
        <div>this will be a group
            <pre>{{msg.user_avatar | json}}</pre>
        </div>
        <ng-container *ngFor="let m of msg.messages">
            <pre>{{m |json}}</pre>
        </ng-container>
    </ng-container>
</ng-container>-->


<mark6-messenger [ngClass]="messengerMode === 'fullscreen' ? 'fullscreen' : 'boxed'">

    <!-- Scrollable Area - or instead of <mark6-messenger-content> they can use <virtual-scroll>-->
    <mark6-messenger-content>

        <mark6-messenger-block *ngFor="let block of messageBlock">

            <mark6-messenger-block-date><!--{{block.date}}-->
                <!--<pre>{{currentUserId}}</pre>
                <pre>{{block | json}}</pre>-->
            </mark6-messenger-block-date>

            <mark6-messenger-message-group *ngFor="let group of block.messageGroup"
                                           [direction]="group.user_id === currentUserId ? 'right' : 'left'">

                <mark6-messenger-avatar>
                    <mark6-image [round]="true" [preview]="group.user_avatar.preview" [src]="group.user_avatar.src"></mark6-image>
                    <!-- TODO Sven - Allow using regular <img> tags.
                    <img src="" alt="">
                    -->
                </mark6-messenger-avatar>

                <mark6-messenger-message *ngFor="let message of group.messages" [message]="message"></mark6-messenger-message>

            </mark6-messenger-message-group>

        </mark6-messenger-block>

    </mark6-messenger-content>

</mark6-messenger>

<!-- TODO ALEX
    dateFormatOptions = {
        days: ['today', 'yesterday', 'day before yesterday'],
        format: 'de'
    };
-->
