@import "~@devmonkeys/scss-elements/loader";

.mat-toolbar {
    @include media-max($res-mat-sm) {
        display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;

        li {
            margin-left: 16px;

            a {
                color: #404040;
                text-decoration: none;
            }
        }
    }

}

.mark6-messenger {
    // Messenger Message Me
    --mark6-messenger-message-me-background: #4151d0;
    --mark6-messenger-message-me-contrast: #fff;

    // Messenger Message Others
    --mark6-messenger-message-others-background: #F5F5F5;
    --mark6-messenger-message-others-contrast: #212121;

    mark6-messenger-messages {
        height: 100%;
    }

    &.fullscreen {
        height: 100%;
        // height: calc(100% - (56px * 2));
        @include media-min($res-mat-sm) {
            height: calc(100% - (64px * 2));
        }
    }

    &.boxed {
        width: 420px;
        height: 500px;
        right: 16px;
        bottom: 0;
        position: absolute;
        box-shadow: 0 0 3px 0 #000;
    }

    mark6-messenger-message-group {
        &.direction-left {
            mark6-messenger-message {
                color: var(--mark6-messenger-message-others-contrast);
                background-color: var(--mark6-messenger-message-others-background);
            }
        }

        &.direction-right {
            mark6-messenger-message {
                color: var(--mark6-messenger-message-me-contrast);
                background-color: var(--mark6-messenger-message-me-background);
            }
        }
    }
}
