@import "~@devmonkeys/scss-elements/loader";

.mat-toolbar {
    transform: translateY(0);
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-property: transform;

    &.hidden {
        transform: translateY(-100%);
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        li {
            margin-left: 16px;
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }

}

main {
    height: calc(100% - 56px);
}
