@import "~@devmonkeys/scss-elements/loader";

.mat-toolbar {
    @include media-max($res-mat-sm) {
        // display: none;
    }

    ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        li {
            margin-left: 16px;
            a {
                color: #ffffff;
                text-decoration: none;
            }
        }
    }

}

main {
    height: calc(100% - 56px);
}
