@import "~@devmonkeys/scss-elements/loader";

.toggle-demo-editor {
    top: 8px;
    left: 8px;
    z-index: 999;
    position: absolute;

    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-property: color;

    border-color: rgb(255 255 255);
    @include media-min($res-mat-sm) {
        top: 12px;
        left: 12px;
    }

    &.light {
        color: #ffffff;
        &.toolbar-hidden {
            color: #202020;
        }
    }

    &.dark {
        color: #ffffff;
        &.toolbar-hidden {
            color: #ffffff;
        }
    }
}

.mark6-messenger {
    &.light {
        // Messenger Message Me
        --mark6-messenger-message-me-background: #4151d0;
        --mark6-messenger-message-me-contrast: #fff;

        // Messenger Message Others
        --mark6-messenger-message-others-background: #F5F5F5;
        --mark6-messenger-message-others-contrast: #212121;
    }

    &.dark {
        background-color: #0d1418;

        // Messenger Message Me
        --mark6-messenger-message-me-background: #bf360c;
        --mark6-messenger-message-me-contrast: #fff;

        // Messenger Message Others
        --mark6-messenger-message-others-background: #262d31;
        --mark6-messenger-message-others-contrast: #e7e7e8;

        // Messenger Footer
        --mark6-messenger-footer-background: #2d383e;
        --mark6-messenger-footer-contrast: #777f82;
    }

    height: calc(100% - (56px * 1));
    transition-duration: 200ms;
    transition-timing-function: ease;
    transition-property: height, margin-top;

    background-size: cover;
    background-position: center;
    @include media-min($res-mat-sm) {
        height: calc(100% - (64px * 1));
    }

    &.toolbar-hidden {
        height: 100%;
        margin-top: -56px;
        @include media-min($res-mat-sm) {
            margin-top: -64px;
        }
    }

    &.boxed {
        width: 420px;
        height: 500px;
        right: 16px;
        bottom: 0;
        position: absolute;
        box-shadow: 0 0 3px 0 #000;
    }

    mark6-messenger-message-group {

        mark6-messenger-message {
            ::ng-deep mark6-messenger-message-header {
                font-weight: 700;
            }
        }

        &.mark6-message-direction-left {
            mark6-messenger-message {
                color: var(--mark6-messenger-message-others-contrast);
                background-color: var(--mark6-messenger-message-others-background);
            }
        }

        &.mark6-message-direction-right {
            mark6-messenger-message {
                color: var(--mark6-messenger-message-me-contrast);
                background-color: var(--mark6-messenger-message-me-background);
                // Overwrite <mark6-messenger-reply> colors from own direction, because contrast conflict with --mark6-messenger-message-me-background.
                ::ng-deep mark6-messenger-reply {
                    .mark6-messenger-reply-inner {
                        border-color: #ffffff !important;

                        .mark6-messenger-reply-header {
                            color: #ffffff !important;
                        }
                    }
                }
            }
        }

        &.mark6-message-come-from-me {
            ::ng-deep mark6-messenger-message-header {
                // display: none;
            }
        }

        &.mark6-message-come-from-others {

        }
    }

    mark6-messenger-footer {

        mark6-messenger-reply {
            margin-right: 0;
            transition-duration: 200ms;
            transition-timing-function: ease;
            transition-property: margin-right;

            &.visible {
                margin-right: calc((var(--mark6-messenger-footer-size) + 8px) * var(--mark6-messenger-spacing-multiplier));
            }
        }

        // TODO - Try to understand why here is a damn ng-deep required. ViewEncapsulation is None!
        ::ng-deep .mark6-messenger-footer-main {

            > .mark6-messenger-actions {

                &-position-left {

                }

                &-position-right {
                    width: 0;
                    min-width: 0;
                    overflow: hidden;
                    margin-left: 0;
                    transition-duration: 200ms;
                    transition-timing-function: ease;
                    transition-property: width, min-width, margin-left;

                    &.visible {
                        width: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
                        min-width: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
                        margin-left: calc(8px * var(--mark6-messenger-spacing-multiplier));
                    }
                }

                &.light {
                    button {
                        color: var(--mark6-messenger-footer-contrast);
                        background-color: var(--mark6-messenger-footer-background);
                    }
                }

                &.dark {
                    button {
                        color: #ffffff;
                    }
                }
            }

            mark6-messenger-textarea {
                .mark6-messenger-actions {
                    &-position-right {
                        button {
                            &:last-child {
                                width: 0;
                                min-width: 0;
                                overflow: hidden;
                                transition-duration: 200ms;
                                transition-timing-function: ease;
                                transition-property: width, min-width, margin-left;

                                &.visible {
                                    width: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
                                    min-width: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
                                }
                            }
                        }
                    }
                }
            }

        }

    }

    mark6-messenger-reply {
        ::ng-deep .mark6-messenger-reply-header {
            font-weight: 700;
        }
    }

}
