<mat-toolbar color="accent">
    <h1>Messenger Config</h1>
    <div style="flex: auto;"></div>
    <ul>
        <li><button (click)="setMessengerMode('fullscreen')">Mode: Fullscreen</button></li>
        <li><button (click)="setMessengerMode('boxed')">Mode: Boxed</button></li>
    </ul>
</mat-toolbar>

<mark6-messenger [ngClass]="messengerMode === 'fullscreen' ? 'fullscreen' : 'boxed'">
    <mark6-messenger-history>
        <mark6-messenger-message
            [messages]="messages$ | async"
            [type]="room.type"
            [avatarMe]="avatarMeState | async"
            [avatarOthers]="avatarOthersState | async">
        </mark6-messenger-message>
    </mark6-messenger-history>
</mark6-messenger>

