.mark6-messenger-actions {
    margin-top: auto;
    display: flex;

    &-position-left {
        order: 1;
        margin-right: calc(8px * var(--mark6-messenger-spacing-multiplier));
    }

    &-position-right {
        order: 3;
        margin-left: calc(8px * var(--mark6-messenger-spacing-multiplier));
    }

    button {
        width: calc(40px * var(--mark6-messenger-spacing-multiplier));
        height: calc(40px * var(--mark6-messenger-spacing-multiplier));
    }

}
