.mark6-messenger-actions {
    margin-top: auto;
    display: flex;

    &-position-left {
        order: 1;
        margin-right: calc(8px * var(--mark6-messenger-spacing-multiplier));
    }

    &-position-right {
        order: 3;
        margin-left: calc(8px * var(--mark6-messenger-spacing-multiplier));
    }

    button {
        // Style Support for Angular Material Icon Only Button
        &.mat-icon-button {
            width: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
            height: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
            line-height: var(--mark6-messenger-footer-size);
        }
    }

}
