.mark6-messenger-actions {
    margin-top: auto;
    display: flex;

    &-position-left {
        order: 1;
        margin-right: calc(8px * var(--mark6-messenger-spacing-multiplier));
    }

    &-position-right {
        order: 3;
        margin-left: calc(8px * var(--mark6-messenger-spacing-multiplier));
    }

    button {
        // Style Support for Angular Material Icon Only Button
        &.mat-icon-button {
            width: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
            height: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
            color: var(--mark6-messenger-footer-contrast);
            line-height: var(--mark6-messenger-footer-size);
            background-color: transparent;
            mat-icon {
                margin: auto;
                display: block;
            }
        }
    }

    // Style Support for Ionic Material Style Button
    ion-button {
        &.button-has-icon-only {
            width: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
            height: calc(var(--mark6-messenger-footer-size) * var(--mark6-messenger-spacing-multiplier));
            margin: 0;
            --padding-top: 0;
            --padding-bottom: 0;
            --padding-start: 0;
            --padding-end: 0;
            --color: var(--mark6-messenger-footer-contrast);
            font-size: 16px;
            --background: transparent;
            --box-shadow: none;
            --border-radius: 50%;
        }

        ion-icon {
            font-size: 1.500em;
        }
    }

}
