.mark6-image {
    width: inherit;
    height: inherit;
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .mark6-image-placeholder {

    }

    img {
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        display: block;

        &.mark6-image-preview {
            filter: blur(3px);
        }

        &.mark6-image-success {

        }

        &.mark6-image-failed {

        }
    }
}
