<ng-container *ngIf="{
  preview: preview && state !== 'failed',
  success: src && state !== 'failed',
  failed: state === 'failed'
} as check">

    <div class="mark6-image-placeholder"
         [style.paddingTop.%]="aspectRatioNumber ? 100 / (aspectRatioNumber) : null"
         [style.backgroundImage]="backgroundImage"></div>

    <img class="mark6-image-preview"
         #imgPreview
         *ngIf="check.preview"
         [ngClass]="{'no-aspect-spacer': aspectRatioNumber === null}"
         [@fadeOut]="state"
         [attr.loading]="loadingStrategy"
         [attr.src]="preview"
         [attr.alt]="alt"/>

    <img class="mark6-image-success"
         *ngIf="check.success"
         [@fadeIn]="state"
         [ngClass]="{'no-aspect-spacer': aspectRatioNumber === null && !check.preview}"
         (load)="loadSuccess()"
         (error)="loadFailed()"
         [attr.loading]="loadingStrategy"
         [attr.src]="src"
         [attr.srcset]="srcSet"
         [attr.alt]="alt"/>

    <img class="mark6-image-failed"
         *ngIf="check.failed"
         [ngClass]="{'no-aspect-spacer': aspectRatioNumber === null}"
         [src]="failedSrc"
         [attr.loading]="loadingStrategy"
         alt="Image not found"/>

</ng-container>
