@import "~@devmonkeys/scss-elements/loader";

.mark6-content-wrapper {
    display: block;
    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .inner {
        @include inner-space-alignments();
        @include inner-space();
    }
}
