:root {
    --messenger-message-all-title: var(--ion-color-primary);

    // Messenger Message Me
    --messenger-message-me-background: #4151d0;
    --messenger-message-me-contrast: #fff;

    // Messenger Message Others
    --messenger-message-others-background: #F5F5F5;
    --messenger-message-others-contrast: #212121;
}

.mark6-messenger {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }
}
