$spaceBetweenMessages: 2px;
$spaceBetweenMessageGroups: 24px;

.mark6-messenger-messages {
    padding: 16px;
    display: block;

    .viewport {
        height: 100%;
    }

    mark6-messenger-message {
        display: block;
    }
}
