.mark6-messenger-textarea {
    min-height: 40px;
    padding: 8px 16px;

    order: 2;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    background-color: #F5F5F5;


    textarea {
        width: 100%;
        // overflow: hidden;
        // height: 100px;
        padding: 0;
        outline: none;
        // display: block;
        border: none;
        resize: none;
        font-size: 16px;
        font-family: inherit;
        background-color: transparent;
    }

}
