.mark6-messenger-actions {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;

    &.position-left {
        order: 1;
        padding-right: 8px;
    }

    &.position-right {
        order: 3;
        padding-left: 8px;
    }
}
