.mark6-messenger-block-date {
    display: flex;

    .mark6-messenger-block-date-value {
        margin: 12px auto;
        padding: 8px 16px;
        border-radius: 50px;
        background-color: #ffc107;
    }
}
